.container {
    display: grid;
    place-items: center;
    height: 80vh;
    /* Menyesuaikan dengan ketinggian yang diinginkan */
}

.form-box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    /* Sesuaikan dengan lebar yang diinginkan */
    margin: 0 auto;
    /* Untuk mengatur posisi kotak di tengah halaman */
    border: solid black;
}

h1 {
    text-align: center;
    color: khaki;
}

body {
    background-color: burlywood;
}